*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f5f8;
}

.content{
    width: 400px;
    height: 500px;
    margin: 0 auto;
    background: white;
    box-shadow: 0px 5px 12px rgb(0, 0, 0, 0.2);
    padding: 1.5rem;
    border-radius: 5px;
    transition: all 0.5s linear;
}

header{
    margin-bottom: 1rem;
    text-align: center;
    color: #222;
    text-transform: capitalize;
   
}

header h2{
    font-size: 1.5rem;
    font-weight: lighter;
    color: rgb(21, 21, 143);
}

input[type=text], input[type=email], input[type=password]{
    display: block;
    width: 100%;
    padding: 0.5rem 0.5rem;
    border-radius: 3px;
    border: 1px solid rgb(206, 204, 204);
    outline: none;
}

.form-validate input:focus{
    outline: none;
    border-color: rgb(61, 61, 61);
}

.form-validate.success input{
    border-color: #2ecc71;
}

.form-validate.error input{
    border-color: #e74c3c;
}

form .form-validate{
    margin: .6rem 0;
}

label{
    font-size: 1rem;
    text-transform: capitalize;
    line-height: 1.5;
    color: rgb(21, 21, 143);
    font-weight: bold;
}

.btn{
    width: 100%;
    border: none;
    background-color: rgb(75, 64, 182);
    border-radius: 3px;
    padding: 0.5rem;
    color: white;
    font-size: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: bold;
    outline: none;
}

.btn:hover{
    background-color: transparent;
    border: solid rgb(75, 64, 182) 2px;
    color: rgb(75, 64, 182);
    box-shadow: 0px 1px 7px rgb(209, 205, 243);
} 

.form-validate small{
    color: #e74c3c;
    visibility: hidden;
}

.form-validate.error small{
    visibility: visible ;
}

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(75, 64, 182, 0.8);
    display: grid;
    place-items: center;
    visibility: hidden;
    z-index: -100;
}

/*   Open and close modal */

.open-modal{
    visibility: visible;
    z-index: 100;
}

.modal-container{
    background-color: white;
    border-radius: 5px;
    width: 500px;
    padding: 3rem 0;
    text-align: center;
    position: relative;
    text-transform: capitalize;
    color: #222;
}


.close-btn{
    position: absolute;
    top: 0rem;
    right: 1rem;
    font-size: .8rem;
    background-color: transparent;
    border-color: transparent;
    color: rgb(195, 9, 9);
    cursor: pointer;
    font-size: 2rem;
    padding: .5rem;
    outline: none;
}

.modal-container p{
    font-size: 1.2rem;
    font-weight: bold;
}

.photo{
    max-width: 100%;
    max-height: 100%;
    width: 200px;
    margin-bottom: 1rem;
}
